@{
    ViewData["Title"] = "Home Page";
}


<script>
    //window.addEventListener('load', (event) => {
    //    send();
    //});
</script>

@*<div>Time to finish test: <span id="time">05:00</span></div>
<script>
    window.onload = function () {
        var fiveMinutes = 60 * 5;
        var display = document.querySelector('#time');
        startTimer(fiveMinutes, display);
    };
</script>*@

<h1 class="display-4 font-weight-normal d-flex justify-content-center">Welcome!</h1>
