@{
    ViewData["Title"] = "Home Page";

    var testId = 123;
}


<script>
    //debugger;
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector("#demo").innerHTML = "Hello JavaScript!";
    });

    function myFunction() {
        document.getElementById("demo2").innerHTML = "FFFFFFFFFFF";
    }
</script>


<button onclick="myFunction()">Try it</button>

<h1 id="demo">HFHGFH</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Test app.</p>
</div>


<h2>Ajax Partial Example</h2>
<p><a class="btn btn-primary" data-ajax="true" data-ajax-update="#grid" data-ajax-url="PartialAction">Load</a></p>
<div id="grid"></div>