@model IEnumerable<TestSystem.Web.Models.TopicModel>

@{
    int? currentTopicId = null;
    if (ViewData.ContainsKey("CurrentTopicId"))
    {
        currentTopicId = int.Parse(ViewData["CurrentTopicId"].ToString());
    }
}

@if ((await AuthorizationService.AuthorizeAsync(User, "OnlyForAdmins")).Succeeded)
{
    <div class="list-group">
        @foreach (var topic in Model)
        {
            if (topic.Id == currentTopicId)
            {
                <a href="/Test/ShowTestsInTopicToAdmin?TopicId=@topic.Id" class="list-group-item list-group-item-action active">@topic.Name</a>
            }
            else
            {
                <a href="/Test/ShowTestsInTopicToAdmin?TopicId=@topic.Id" class="list-group-item list-group-item-action">@topic.Name</a>
            }
        }
    </div>
}
else if ((await AuthorizationService.AuthorizeAsync(User, "OnlyForUsers")).Succeeded)
{
    <div class="list-group">
        @foreach (var topic in Model)
        {
            if (topic.Id == currentTopicId)
            {
                <a href="/Test/ShowTestsInTopicToUser?TopicId=@topic.Id" class="list-group-item list-group-item-action active">@topic.Name</a>
            }
            else
            {
                <a href="/Test/ShowTestsInTopicToUser?TopicId=@topic.Id" class="list-group-item list-group-item-action">@topic.Name</a>
            }
        }
    </div>
}
