@model TestSystem.Web.Models.QuestionModel

@{
    Layout = "_LayoutSideBar";

    int? testId = null;
    if (ViewData.ContainsKey("TestId"))
    {
        testId = int.Parse(ViewData["TestId"].ToString());
    }

    int? topicId = null;
    if (ViewData.ContainsKey("TopicId"))
    {
        topicId = int.Parse(ViewData["TopicId"].ToString());
    }
}

<h4 class="d-flex justify-content-center">Create Question</h4>
<hr />

<div class="d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-controller="Test" asp-action="CreateQuestion" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
            </div>
            <div class="form-group">
                <textarea asp-for="Text" rows="5"></textarea>
            </div>
            <div class="form-group">
                <div class="custom-file">
                    <label asp-for="Image">Image:</label>
                    <input asp-for="Image" type="file" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Stage" class="control-label"></label>
                <input asp-for="Stage" class="form-control" />
                <span asp-validation-for="Stage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Points" class="control-label"></label>
                <input asp-for="Points" class="form-control" />
                <span asp-validation-for="Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionType" class="control-label"></label>
                <select asp-for="QuestionType" class="form-control">
                    <option value="option">Option</option>
                    <option value="text">Text</option>
                </select>
                <span asp-validation-for="QuestionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestId" class="control-label"></label>
                <input asp-for="TestId" class="form-control" />
                <span asp-validation-for="TestId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back to questions", "EditTest", "Test", new { @TopicId = topicId, @TestId = testId }, new { @class = "btn btn-secondary" })
</div>