@model TestSystem.Web.Models.TestModel

@{
    ViewData["Title"] = "Create Test";

    int questionId = 0;
    if (ViewData.ContainsKey("QuestionId"))
    {
        int.TryParse(ViewData["QuestionId"].ToString(), out questionId);
    }

    int? topicId = null;
    if (ViewData.ContainsKey("TopicId"))
    {
        topicId = int.Parse(ViewData["TopicId"].ToString());
    }
}

<h4 class="d-flex justify-content-center">Create Test</h4>
<hr />

<div class="d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="CreateTest" asp-controller="Test" asp-anti-forgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Minutes" class="control-label"></label>
                <input asp-for="Minutes" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="TopicId" class="control-label"></label>
                <input asp-for="TopicId" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back to Tests", "ShowTestsInTopicToAdmin", "Test", new { @TopicId = topicId }, new { @class = "btn btn-secondary" })
</div>