@if ((await AuthorizationService.AuthorizeAsync(User, "OnlyForAdmins")).Succeeded)
{

    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Test" asp-action="CreateTopic">Create new Topic</a>
    </li>
}
else if ((await AuthorizationService.AuthorizeAsync(User, "OnlyForUsers")).Succeeded)
{


}
